.cursor-pointer {
  cursor: pointer;
}

.marzipano-button
{
  background-color:  rgba(25,45,56,0.8);
  padding: .5rem !important;
  img
  {
    width: 35px;
    height: 35px;
    vertical-align: middle;
  }
}