@font-face {
    font-family: 'Gamechanger';
    src: url('Gamechanger-Medium.woff2') format('woff2'),
        url('Gamechanger-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gamechanger';
    src: url('Gamechanger-Regular.woff2') format('woff2'),
        url('Gamechanger-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gamechanger';
    src: url('Gamechanger-Bold.woff2') format('woff2'),
        url('Gamechanger-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

