@import "text.scss";
@import "../assets/Fonts/bienvenue/stylesheet.css";
@import "../assets/Fonts/Gamechanger/stylesheet.css";

:root
{
  @each $font, $value in $fonts {
    --#{$font}: #{$value};
  }
}

body
{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: var(--bienvenue);
}

#app
{
  height: 100vh;
  width: 100%;
}
